*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.auto-style1 {
    width: 100%;
}

.auto-style2 {
    width: 841px;
}

.auto-style3 {
    width: 119px;
}

.auto-style4 {
    width: 841px;
    height: 26px;
}

.auto-style5 {
    width: 119px;
    height: 26px;
}

.auto-style6 {
    height: 26px;
}

.main-div {
    display: flex;
    justify-content: center;
    
}

.inner-div {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    padding: 5px;
}

.question-row {
    width: 100%;
    
    display: none;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-bottom:0.5rem;
}

.question-text {
    width: 75%;
    border: 3px solid #5A22AF;
    display: flex;
}

.question-edit, .question-delete {
    width: 10%;
    
}

.quesstions-buttons{
    padding:13px 20px;
    color:white;
    font-size:1.5rem;
    
}
.quesstions-buttons-purpil {
    background-color: #5A22AF;
    width: 100%;
    border-radius:0.3rem; 
    border:none;
}
.quesstions-buttons-red {
    background-color: #D9534F;
    width: 100%;
    border-radius: 0.3rem;
    border: none;
}
.txtQuesstion {
    display: none;
    width: 100%;
    height: 100%; 
    color:#652CB3;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-update{
   display:none;
}

.qNumber {
    width: 3rem;
    border-right: 3px solid #5A22AF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #652CB3;
    font-size:1.5rem;
    font-weight:bold;
}

header {
    display: flex;
    justify-content: center;
    background-color: #36065c;
    margin-bottom:1.5rem;
}
header div{
    width:85%;
    display:flex;
    justify-content:space-between;
    align-items:center;

}
header img{
    width:12%;
}
nav{
    width:30%;
    display:flex;
    justify-content:space-around;

}
nav a{
    text-decoration:none;
    color:white;
    padding:2rem 2rem;
    
    font-size:1.5rem;
    font-family:sans-serif;

}
    nav a:hover {
        background-color: #5a22af;
    }

.addQuestion-main{
    display:flex;
    justify-content:center;
    margin-bottom:2rem;
}
.addQuestion-inner{
    width:85%;
    display:flex;
    justify-content:space-between;
}
#Quesstion {
    width: 74%;
    margin-left: 8px;
    height: 3.3rem;
    border: 3px solid #5A22AF;
    padding-left: 1rem;
    color: #652CB3;
    font-size: 1.2rem;
    font-weight: bold;
}
#Quesstion:focus{
    border-color:#5A22AF;
}
.btnAdd {
    width: 22.8%;
    background-color: #E6E6E6;
    border: 3px solid #5A22AF;
    color: #5A22AF;
    border-radius: 0.5rem;
    font-size:1.5rem;
}
#data-btn{
    display:flex;
    justify-content:center;
    height:3.3rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
.labeltxt{
    width:100%;
    height:100%;
    color:#652CB3;
    font-size:1.2rem;    
    font-weight:bold;
    margin-top:0.8rem;
    margin-left:0.8rem;
}
@media only screen and (min-device-width:0px)and (max-device-width : 480px) {
    header div {
        width: 98%;
    }

    .addQuestion-inner {
        width: 98%;
    }

    .inner-div {
        width: 98%;
    }
    .question-delete {
        width: 12%;
    }
}

@media only screen and (min-device-width:481px)and (max-device-width : 768px) {
    header div{
        width: 93%;
    }
    .addQuestion-inner{
        width:93%;
    }
    .inner-div{
        width:93%;
    }
    .question-delete{
        width:12%;
    }
}